rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 允許任何人讀寫文字雲資料集 wordcloud_inputs
    match /wordcloud_inputs/{document} {
      allow read, write: if true;
    }
    
    // 允許任何人讀寫課堂問題庫 questions
    match /questions/{document} {
      allow read, write: if true;
    }
    
    // 允許任何人讀寫系統狀態 system_state
    match /system_state/{document} {
      allow read, write: if true;
    }
  }
}
